.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #2C3E50; /* Cor de fundo do menu */
  width: 200px; /* Largura do menu */
  height: 100%; /* Altura total da tela */
  transform: translateX(200px); /* Inicialmente, empurre o menu para a direita para escondê-lo */
  transition: transform 0.3s;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  text-align: right;
  margin: 20px;
}

.menu a {
  text-decoration: none;
  color: #ecf0f1; /* Cor do texto do menu */
}

/* Estilize o efeito 3D quando o mouse passar por cima */
.menu li:hover {
  transform: translateX(-10px);
  transition: transform 0.2s;
}
